name: Build and deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Install Quarto
    - uses: quarto-dev/quarto-actions/setup@v2

    # Build documents
    - name: Build site
      run: |
        quarto render index.qmd
        quarto render appendix_I.qmd
        quarto render appendix_II.qmd

    # Prepare deploy folder
    - name: Copy files to dist
      run: |
        mkdir dist
        cp index.html dist
        cp -r index_files dist
        cp appendix_I.html dist
        cp -r appendix_I_files dist
        cp appendix_II.html dist
        cp -r appendix_II_files dist

    # Upload for GitHub Pages
    - name: Archive built files
      uses: actions/upload-pages-artifact@v3
      with:
        name: github-pages
        path: dist

  # deploy:
  #   needs: build

  #   permissions:
  #     contents: read
  #     pages: write   
  #     id-token: write 

  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}


  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v4
